<div id="articles">
  <h2>
    Sample Page
  </h2>
  <div class="created_at">Created on <%= Time.now.strftime('%b %d, %Y') %></div>
  <div class="content"><%= simple_format("This is a sample content for this page. " * 20) %></div>
</div>